{% extends 'base.html' %}
{% block container %}

	<h1 class="display-5 mt-4">Летим из <span data-test="from">{{ city_from }}</span></h1>
	<p class="mb-4" >Найдено <span data-test="tourcount">{{ tours_count }}</span> туров, от <span data-test="pricemin">{{ min_price }}</span> до <span data-test="pricemax">{{ max_price }}</span> и от <span data-test="nightsmax">{{ min_nights }}</span> ночей до <span data-test="nightsmax">{{ max_nights }}</span> ночей</p>
	<!-- HERO -->

	<!-- CARDS -->

	  <div class="row mt-5" data-test="cards">
		{% for key,value in tours.items %}
			<div class="col-4" data-test="card">
				<div class="card mb-3" >
					<img src="{{ value.picture }}" class="card-img-top img-fluid" data-test="picture">
					<div class="card-body">
						 <h5 class="card-title">{{ value.title }}</h5>
						 <p class="card-text">{{ value.description }}</p>
						 <a href="/tour/{{ key }}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>    
{% endblock %}